<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Add Character</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Character Name</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="newChar.name" aria-required="true" aria-label="Default" aria-describedby="input-sizing-default" required>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Occupation</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="newChar.occupation" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">HP</span>
                                    </div>
                                    <input type="number" class="form-control" ng-model="newChar.hp" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Sanity</span>
                                    </div>
                                    <input type="number" class="form-control" ng-model="newChar.sanity" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">STR</span>
                                    </div>
                                    <input type="number"  class="form-control" ng-model="newChar.str" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">DEX</span>
                                    </div>
                                    <input type="number" class="form-control" ng-model="newChar.dex" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">CON</span>
                                    </div>
                                    <input type="number" class="form-control" ng-model="newChar.con" aria-label="Default" aria-describedby="input-sizing-default">
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="input-group" style="text-align: center;">
                                    <button style="margin: auto;" ng-click="addCharacter()" class="btn btn-primary" type="button" id="button-addon1">Add Character</button>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>