<edit-simple-navbar></edit-simple-navbar>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col sectionTitle">
                            <h2>Injuries</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            Wounds And Ailments
                        </div>
                        <div class="col-sm-1">
                            Treated?
                        </div>
                    </div>

                    <!-- <div class="row" ng-if="!agent.injuries">
                        <div class="col-sm-6">
                            <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="agent.injuries.injury.name" ng-change="changeVal(agent)">
                        </div>
                        <div class="col-sm-6">
                            Treated?: <input type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="agent.injuries.injury.treated" ng-change="changeVal(agent)">
                        </div>
                    </div>                         -->

                    <div class="injuryList">
                        <div class="row" ng-repeat="injury in agent.injuries">
                            <div class="col-sm-11">
                                <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="injury.name" ng-change="changeVal(agent)">
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)" class="form-control inline"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="injury.treated" ng-change="changeVal(agent)">
                            </div>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col">
                            <button ng-click="addRow('injuries', 'injury')" class="btn btn-warning" type="button" id="button-addon1">Add Injury</button>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6">
                            Violence: 
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence1"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence2"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence3"  aria-label="Default" aria-describedby="input-sizing-default">
                            <span class="adapted">adapted</span>
                        </div>
                        <div class="col-sm-6">
                            Helplessness: 
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless1"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless2"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless3"  aria-label="Default" aria-describedby="input-sizing-default">
                            <span class="adapted">adapted</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body button-panel center-text">
                <button ui-sref="dashboard.editstats({id: agent._id})" class="btn btn-primary" type="button">Back</button>
                <button ng-click="updateAgent(agent)" class="btn btn-warning" type="button" id="button-addon1">update</button>
                <button ui-sref="dashboard.editskills({id: agent._id})" class="btn btn-warning" type="button" id="button-addon1">Next</button>
                <button ng-click="removeaAgent(agent._id)" class="btn btn-danger" type="button" id="button-addon1">delete</button>
            </div>
        </div>
    </div>
</div>