<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body" style="font-size: 40px; text-align: center;">
                <a ui-sref="dashboard.viewagents" ui-sref-active="active"><i class="fas fa-home"></i></a>
                <a ui-sref="dashboard.editagent({id: agent._id})"><i class="fas fa-user"></i></a>
                <a ui-sref="dashboard.editstats({id: agent._id})"><i class="fas fa-heartbeat"></i></i></a>
                <a ui-sref="dashboard.editpsych({id: agent._id})"><i class="fas fa-shapes"></i></a>
                <a ui-sref="dashboard.editskills({id: agent._id})"><i class="fas fa-cogs"></i></a>
                <a ui-sref="dashboard.editinjuries({id: agent._id})"><i class="fas fa-file-medical"></i></a>
                <a ui-sref="dashboard.editarmor({id: agent._id})"><i class="fas fa-shield-alt active"></i></a>
                <!-- <a ui-sref="dashboard.editinventory({id: agent._id})"><i class="fas fa-truck-moving"></i></a> -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col sectionTitle">
                            <h2>Armor & Gear</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Category
                        </div>
                        <div class="col-sm-8">
                            Description
                        </div>
                        <div class="col-sm-2">
                            Armor Rating?
                        </div>
                    </div>

                    <!-- <div class="row" ng-if="!agent.injuries">
                        <div class="col-sm-6">
                            <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="agent.injuries.injury.name" ng-change="changeVal(agent)">
                        </div>
                        <div class="col-sm-6">
                            Treated?: <input type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="agent.injuries.injury.treated" ng-change="changeVal(agent)">
                        </div>
                    </div>                         -->

                    <div class="armorList">
                        <div class="row" ng-repeat="item in agent.armor">
                            <div class="col-sm-2">
                                <select name="itemtype" class="form-control" ng-model="item.category" aria-label="Default" aria-describedby="input-sizing-default" ng-change="changeVal(agent)">
                                    <option value="armor">Armor</option>
                                    <option value="gear">Gear</option>
                                </select>
                                <!-- <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="item.category" ng-change="changeVal(agent)"> -->
                            </div>
                            <div class="col-sm-8">
                                <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="item.name" ng-change="changeVal(agent)">
                            </div>
                            <div class="col-sm-2" ng-if="item.category == 'armor'">
                                <input type="text" ng-keydown="($event.keyCode === 13) && changeVal(agent)" class="form-control inline"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="item.armor_rating" ng-change="changeVal(agent)">
                            </div>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col">
                            <button ng-click='addRow("armor", "item")' class="btn btn-warning" type="button" id="button-addon1">Add Armor/Gear</button>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6">
                            Violence: 
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence1"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence2"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adaptviolence3"  aria-label="Default" aria-describedby="input-sizing-default">
                            <span class="adapted">adapted</span>
                        </div>
                        <div class="col-sm-6">
                            Helplessness: 
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless1"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless2"  aria-label="Default" aria-describedby="input-sizing-default">
                            <input class="inline" type="checkbox" ng-keydown="($event.keyCode === 13) && changeVal(agent)"  class="form-control" ng-change="changeVal(agent)" ng-model="agent.adapthelpless3"  aria-label="Default" aria-describedby="input-sizing-default">
                            <span class="adapted">adapted</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body button-panel center-text">
                <button ui-sref="dashboard.editstats({id: agent._id})" class="btn btn-primary" type="button">Back</button>
                <button ng-click="updateAgent(agent)" class="btn btn-warning" type="button" id="button-addon1">update</button>
                <button ui-sref="dashboard.editskills({id: agent._id})" class="btn btn-warning" type="button" id="button-addon1">Next</button>
                <button ng-click="removeaAgent(agent._id)" class="btn btn-danger" type="button" id="button-addon1">delete</button>
            </div>
        </div>
    </div>
</div>