<edit-simple-navbar></edit-simple-navbar>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col sectionTitle">
                            <h2>Weapons</h2>
                            Weapons are as follows: {{ vm.weapons }}
                            <div ng-repeat="x in weapons">{{x.name}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Weapon Name
                        </div>
                        <div class="col-sm-4">
                            Base Range
                        </div>
                        <div class="col-sm-4">
                            Skill
                        </div>
                    </div>
                    <div class="row">
                    </div>
                   <div class="row">
                       <div class="col">
                        <div class="weaponList">
                            <div class="row" ng-repeat="weapon in agent.weapons">
                                <div class="col-sm-2">
                                    <weapon-select></weapon-select>
                                    <!-- <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="weapon.base_range" ng-change="changeVal(agent)"> -->
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="weapon.name" ng-change="changeVal(agent)">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="weapon.base_range" ng-change="changeVal(agent)">
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" ng-click="deletit('weapons', weapon, weapon._id, agent._id)" value="delete">
                                </div>
                                <!-- <div class="col-sm-8">
                                    <input type="textarea" class="form-control"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="weapon.description" ng-change="changeVal(agent)">
                                </div> -->
                                <!-- <div class="col-sm-2" ng-if="weapon.category == 'armor'">
                                    <input type="text" ng-keydown="($event.keyCode === 13) && changeVal(agent)" class="form-control inline"  aria-label="Default" aria-describedby="input-sizing-default" ng-model="item.armor_rating" ng-change="changeVal(agent)">
                                </div> -->
                            </div>                        
                        </div>
                       </div>
                   </div>
                    

                    <div class="row">
                        <div class="col">
                            <button ng-click='addRow("weapons", "weapon")' class="btn btn-warning" type="button" id="button-addon1">Add Weapon</button>
                            <weapon-select></weapon-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Inner: <weapon-select  callback="callback"></weapon-select>
                            Outer: <input ng-model="value" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body button-panel center-text">
                <button ui-sref="dashboard.editstats({id: agent._id})" class="btn btn-primary" type="button">Back</button>
                <button ng-click="updateAgent(agent)" class="btn btn-warning" type="button" id="button-addon1">update</button>
                <button ui-sref="dashboard.editskills({id: agent._id})" class="btn btn-warning" type="button" id="button-addon1">Next</button>
                <button ng-click="removeaAgent(agent._id)" class="btn btn-danger" type="button" id="button-addon1">delete</button>
            </div>
        </div>
    </div>
</div>