<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Skill</span>
                    </div>
                    <input type="text" class="form-control" ng-model="skill" aria-label="Default" aria-describedby="input-sizing-default">
                    <button style="margin: auto;" ng-click="testSkill()" class="btn btn-primary" type="button" id="button-addon1">Add Character</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card"><div class="card-body">
            <ul ng-repeat="char in characters">
                <li>Name: {{char.name}} Occupation: {{char.occupation}} HP: {{char.hp}} CON: {{char.con}}</li>
            </ul>
        </div>
        </div>
    </div>
</div>