<div class="row">
    <div class="col">
        <div class="card">
            <div id="nav" class="card-body" style="font-size: 40px; text-align: center;">
                <a class="nav" ui-sref="dashboard.viewagents" ui-sref-active="active"><i class="fas fa-home"></i></a>
                <a ui-sref="dashboard.editagent({id: agent._id})"><i class="fas fa-user"></i></a>
                <a ui-sref="dashboard.editstats({id: agent._id})"><i class="fas fa-shield-alt"></i></a>
                <a ui-sref="dashboard.editpsych({id: agent._id})"><i class="fas fa-shapes"></i></a>
                <a ui-sref="dashboard.editskills({id: agent._id})"><i class="fas fa-cogs"></i></a>
                <a ui-sref="dashboard.editinjuries({id: agent._id})"><i class="fas fa-file-medical active"></i></a>
                <a ui-sref="dashboard.editarmor({id: agent._id})"><i class="fas fa-shield-alt"></i></a>
                <a ui-sref="dashboard.editagentwep({id: agent._id, mode: editwep})" ng-click="dashboard.isActive()"><i class="fas fa-truck-moving"></i></a>
            </div>
        </div>
    </div>
</div>

